asgiref==3.11.1
channels==4.3.2
Django==5.2.15
django-hosts==7.0.0
djangorestframework==3.17.1
pillow==12.2.0
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
sqlparse==0.5.5
reportlab
opencv-python-headless
requests
weasyprint
