<a class="{% if active == 'approved' %}on{% endif %}" href="/crm/retail-head/"><i class="bi bi-inbox"></i> <span>Approved Leads</span></a>
<a class="{% if active == 'associates' %}on{% endif %}" href="/crm/retail-head/associates/"><i class="bi bi-people"></i> <span>Retail Associates</span></a>
<a class="{% if active == 'sellers' %}on{% endif %}" href="/crm/retail-head/sellers/"><i class="bi bi-person-badge"></i> <span>Sellers</span></a>
<a class="{% if active == 'auctions' %}on{% endif %}" href="/crm/retail-head/auctions/"><i class="bi bi-hammer"></i> <span>Auctions</span></a>
<a class="{% if active == 'tracking' %}on{% endif %}" href="/crm/retail-head/lead-tracking/"><i class="bi bi-diagram-3"></i> <span>Lead Tracking</span></a>
